*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #38184C;
   

}


.container{
    background-color: #1C646D;
    width: 30%;
    border-radius: 10px; 
    border: 2px solid #CEF09D;
    text-align: center;
    margin: 10px;
    padding: 10px;
    margin-left: 35%;
    margin-top: 5%;

    
}

h1{
    color:#CEF09D;
}
label{
    color:#CEF09D;
}
.input{
    padding: 10px;
   
    
}

input{
    border-radius: 5px;
    padding: 5px;
    
}

#button{
    background-color: #38184C;
    color: #CEF09D;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
}

#button:hover{
    color: #38184C;
    background-color:#CEF09D;
}

#resultado{
    
    color: #CEF09D;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    
}